.footer {
    padding: calc(var(--mobile-pad-b) * 4) var(--mobile-pad-i);
    background-color: #282424;
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 2.25rem;
    position: relative;
}

.more {
    display: grid;
    row-gap: 1.75rem;
}

.more_list {
    padding: 0;
    list-style: none;
    text-align: center;
  margin: auto;
    text-transform: uppercase;
    font-weight: var(--fw-karla-bold);
    font-size: calc(var(--fs) / 1.05);
}

.title {
    color: var(--dark-grayish-violet);
    margin-block-end: 1.75rem;
}

.item {
    margin: 0;
    padding: 0;
    margin-block-end: .5rem;
}

.redirect {
    text-decoration: none;
    color: #f3f3f3;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: calc(var(--desktop-pad-b) * 1.5) var(--desktop-pad-i);
        justify-items: unset;
        row-gap: 2.5rem;
    }


    .more {
        display: flex;
        position: relative;
    }

    .more_list {
        text-align: center;
        flex: .4;
    }
    
    .redirect::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid var(--dark-grayish-violet);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .125s ease-in-out;
    }

    .redirect:hover::after {
        transform: scaleX(1);
    }
}